<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Generate</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
