<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generate QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-item>
    <ion-input [(ngModel)]="qrData" type="text" placeholder="QR Code Data"></ion-input>
  </ion-item> -->
  <ion-card *ngIf="qrData" class="ion-text-center">
    <ngx-qrcode [elementType]="'url'" [value]="qrData" cssClass="aclass"></ngx-qrcode>
  </ion-card>
</ion-content>
