<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="secondary" expand="full" (click)="scanCode()">
    <ion-icon name="scan-outline"></ion-icon>
    Scan Code
  </ion-button>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from scam: {{ scannedCode | json }}
    </ion-card-content>
  </ion-card>
</ion-content>